<div ng-if="myInfoCtrl.user === undefined" class="container">
  <h1>Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a></h1>
</div>

<div ng-if="myInfoCtrl.user !== undefined" class="container">
  <h1>Your Information</h1>

  <p><strong>First Name:</strong> {{ myInfoCtrl.user.firstName }}</p>
  <p><strong>Last Name:</strong> {{ myInfoCtrl.user.lastName }}</p>
  <p><strong>Email:</strong> {{ myInfoCtrl.user.email }}</p>
  <p><strong>Phone:</strong> {{ myInfoCtrl.user.phone }}</p>

  <h2>Your Favorite Menu Item</h2>

  <div ng-if="myInfoCtrl.user.favouriteItem">
    <img
      ng-src="images/menu/{{myInfoCtrl.user.favouriteItem.shortName.category}}/{{myInfoCtrl.user.favouriteItem.shortName.category}}{{myInfoCtrl.user.favouriteItem.shortName.number}}.jpg"
      alt="{{myInfoCtrl.user.favouriteItem.name}}" width="150" height="100">
    <p><strong>Title:</strong> {{ myInfoCtrl.user.favouriteItem.name }}</p>
    <p><strong>Description:</strong> {{ myInfoCtrl.user.favouriteItem.description }}</p>
  </div>
  <div ng-if="!myInfoCtrl.user.favouriteItem">
    <p>No favorite menu item selected.</p>
  </div>
</div>
