<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="styles/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <script src="angular.min.js" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body ng-app="NarrowItDownApp">
    <div class="container" ng-controller="NarrowItDownController as ctrl">
      <h1>Narrow Down Your Chinese Menu Choice</h1>

      <div>
        <input
          type="text"
          placeholder="search term"
          class="form-control"
          ng-model="ctrl.searchTerm"
        />
      </div>
      <div>
        <button class="btn btn-primary" ng-click="ctrl.getMenuItems();">
          Narrow It Down For Me!
        </button>
      </div>

      <found-items
        items="ctrl.foundItems"
        on-remove="ctrl.removeItem(index)"
      ></found-items>
    </div>
  </body>
</html>
